* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 100%;
    border: 0;
    text-decoration: none;
}

$radiantYellow: #f79f1f;
$puffinsBill: #ee5a24;
$redPigment: #ea2027;
$redLight: #d3383e;
$pixelatedGrass: #009432;
$white: #fff;

html{
    height: 100%;
}

header {
    text-align: center;
    .c-logo {
        font-weight: 700;
        font-size: 4rem;
        color: $white;
    }
}

body {
    padding: 0.75rem 5rem .25rem 5rem;
    width: 100%;
    height: 100%;
    font-family: "Lato", sans-serif, Helvetica;
    background-color: $radiantYellow;
    color: $white;
}

.c-form-template {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    height: 70%;

    .c-name-input-area,
    .c-powerups-input-area,
    .c-description-input-area {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: column;
    }

    .c-label {
        font-size: 2rem;
        font-weight: 400;
    }
    .c-small-input {
        width: 20rem;
        padding: 0.25rem 0.75rem;
        border-radius: 0.25rem;
    }
    .c-warning-small {
        color: $redLight;
    }
    .c-big-input {
        border-radius: 0.25rem;
        width: 20rem;
        height: 9rem;
        padding: 0.5rem;
    }
}

@media(max-width: 540px){
    body{
        padding: .10rem;
        .c-logo{
            font-size: 3rem;
        }
    }
    .c-form-template{
        align-items: center;
    }
}

.l-create-container, .l-edit-container{
    .c-form-template{
        height: 70vh;
    }
    .c-redirect-buttons{
        display: flex;
        align-self: flex-end;
        align-items: center;
        justify-content:flex-end;
        gap: 2rem;
    }
    
}
.c-submit-buttom{
    background-color: $pixelatedGrass;
    padding: .45rem 1rem;
    border-radius: .25rem;
    color: $white;
    width: 10rem;
    font-size: 1.3rem;
    font-weight: 700;
    cursor: pointer;
    transition: .2s all ease;

    &:hover{
        background-color: $puffinsBill;
        
    }
}
.c-back-button{
    color: $white;
    width: 10rem;
    font-size: 1.3rem;
    border-radius: .25rem;
    padding: .45rem 1rem;
    text-align: center;
    border: .15rem solid $white;
    transition: .2s all ease;

    &:hover{
        background-color: rgba(0, 0, 0, .1);
    }
}

@media (max-width: 540px) {
    body{
        .c-logo{
            font-size: 2rem;
        }
    }
    .l-create-container, .l-edit-container{
        .c-redirect-buttons{
            align-self: center;
            align-items: center;
            justify-content: center;
        }
        .c-submit-buttom, .c-back-button{
            width: 8rem;
            margin-top: .75rem;
            font-size: .95rem;
            padding: .45rem .75rem;
        }
    }
    
}

