* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 100%;
    border: 0;
    text-decoration: none;
}

$radiantYellow: #f79f1f;
$puffinsBill: #ee5a24;
$redPigment: #ea2027;
$redLight: #d3383e;
$pixelatedGrass: #009432;
$white: #fff;

html {
    height: 100%;
}

header {
    text-align: center;
    .c-logo {
        font-weight: 700;
        font-size: 4rem;
        color: $white;
    }
}

body {
    padding: 0.75rem 5rem 1rem 5rem;
    width: 100%;
    height: 100%;
    font-family: "Lato", sans-serif, Helvetica;
    background-color: $radiantYellow;
    color: $white;
}

.c-form-template {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    height: 70%;

    .c-name-input-area,
    .c-powerups-input-area,
    .c-description-input-area {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: column;
    }

    .c-label {
        font-size: 2rem;
        font-weight: 400;
    }
    .c-small-input {
        width: 20rem;
        padding: 0.25rem 0.75rem;
        border-radius: 0.25rem;
    }
    .c-warning-small {
        color: $redLight;
    }
    .c-big-input {
        border-radius: 0.25rem;
        width: 20rem;
        height: 9rem;
        padding: 0.5rem;
    }
}

@media (max-width: 540px) {
    body {
        padding: 0.1rem;
        .c-logo {
            font-size: 3rem;
        }
    }
    .c-form-template {
        align-items: center;
    }
}

.l-create-container,
.l-edit-container {
    .c-form-template {
        height: 70vh;
    }
    .c-redirect-buttons {
        display: flex;
        align-self: flex-end;
        align-items: center;
        justify-content: flex-end;
        gap: 2rem;
    }
}
.c-submit-buttom {
    background-color: $pixelatedGrass;
    padding: 0.45rem 1rem;
    border-radius: 0.25rem;
    color: $white;
    width: 10rem;
    font-size: 1.3rem;
    font-weight: 700;
    cursor: pointer;
    transition: 0.2s all ease;

    &:hover {
        background-color: $puffinsBill;
    }
}
.c-back-button {
    color: $white;
    width: 10rem;
    font-size: 1.3rem;
    border-radius: 0.25rem;
    padding: 0.45rem 1rem;
    text-align: center;
    border: 0.15rem solid $white;
    transition: 0.2s all ease;

    &:hover {
        background-color: rgba(0, 0, 0, 0.1);
    }
}

@media (max-width: 540px) {
    body {
        .c-logo {
            font-size: 2rem;
        }
    }
    .l-create-container,
    .l-edit-container {
        .c-redirect-buttons {
            align-self: center;
            align-items: center;
            justify-content: center;
        }
        .c-submit-buttom,
        .c-back-button {
            width: 8rem;
            margin-top: 0.75rem;
            font-size: 0.95rem;
            padding: 0.45rem 0.75rem;
        }
    }
}

.c-header-container {
    display: flex;
    align-items: center;
    justify-content: space-around;


    .c-filter-form {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        gap: .15rem;

        .c-search-input-label {
            display: flex;
            flex-direction: column;

            .c-search-label{
                font-size: 2rem;
            }
            .c-search-input{
                width: 15rem;
                padding: .25rem;
                border-radius: 0.25rem;
            }
        }
        .c-search-button{
            background-color: $redPigment;
            color: $white;
            padding: .25rem .75rem;
            border-radius: 0.25rem;
            cursor: pointer;
            transition: 0.2s all ease;
            &:hover{
                background-color: $redLight;
            }
        }
    }
    .c-create-hero-button{
        background: $redPigment;
        color: $white;
        padding: .75rem .85rem;
        border-radius: 0.25rem;
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 15rem;
        transition: 0.2s all ease;
        &:hover{
            background: $puffinsBill;
        }
    }
    .c-success-message{
        color: $white;
        font-weight: 700;
        background-color: $pixelatedGrass;
        padding: .25rem .50rem;
        border-radius: 0.25rem;
        width: 25rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
.l-hero-area{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 4rem;
    flex-wrap: wrap;
    padding: 2rem 0 0 0;
}
.c-hero-card{
    background-color: $puffinsBill;
    height: 26rem;
    width: 15rem;
    padding: .25rem;
    border-radius: 0.25rem;
    border: 2px solid $redLight;
}

.c-control-buttons-form{
    align-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: .25rem;
    .c-control-button{
        color: $white;
        background-color: transparent;
        transition: 0.2s all ease;
        cursor: pointer;
        &:hover{
            filter: brightness(80%);
        }
    }
}
.c-content-card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: .25rem;
}

.c-hero-name{
    font-size: 2rem;
    font-weight: 700;
    text-transform: capitalize;
}

.c-hero-image{
    width: 10rem;
    height: 10rem;
    overflow: hidden;
    object-fit: cover;
    border-radius: 1rem;
    padding: .75rem;
}

.c-hero-description{
    text-align: center;
    padding: .25rem 0 .75rem 0;
    font-size: .75rem;
}
.c-powerup-area{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    gap: .5rem;
    
}

.c-hero-powerup{
    border-radius: 1rem;
    border: 1px solid $white;
    padding: .25rem .5rem;
    font-size: .75rem;
    text-transform: uppercase;
}

@media (max-width: 540px) {
    .l-hero-area, .c-header-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        .c-search-input-label {
            font-size: 1.2rem;
        }
    }
}

.l-show-container{
    padding-top: 2rem;
    display: flex;
    align-items: center;
    justify-content:center;
}
.c-back-show-button{
    display: flex;
    align-items: flex-end;
    justify-content:flex-end;

    .c-back-button{
        justify-content:center;
    }
}

.c-hero-edit-image{
    float:inline-end;
}